.head {
	width: 500px;
	margin: auto;
	text-align: left;
	background-color: skyblue
}

.body{
	width: 500px;
	margin: auto;
	text-align: right;
}

.footer {
	background: lightgrey;
	text-align: left;
}

.h2{
	font-family: Times New Roman
}
